<app-header></app-header>

<main>
  <section class="introduction">
    <h1>{{ title }}</h1>
    <p><strong>{{ title }}</strong>
      é o seu portal para o mundo do cinema.
    </p>
    <p> Aqui, você pode pesquisar por filmes de qualquer gênero, ano ou
      país, e encontrar informações detalhadas sobre cada um deles.
    </p>
    <p>
      <strong>{{ title }}</strong> é o seu guia definitivo para o mundo do cinema.
    <p>
      Comece a explorar hoje mesmo!
    </p>
  </section>

  <app-search-movie (searchResult)="updateMovies($event)"></app-search-movie>

  @if (!movieDetails || movieDetails.length === 0) {
  <ngb-carousel #carousel [interval]="6000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)">
    @for (movie of moviesPosters; track movie) {
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [ngSrc]="movie.imgSrc" [alt]="movie.imgAlt" [width]="movie.width" [height]="movie.height" priority />
      </div>
    </ng-template>
    }
  </ngb-carousel>
  } @else {
  <ng-container>
    <app-card-movie [movieData]="movieDetails"></app-card-movie>
  </ng-container>
  }

</main>

<app-footer></app-footer>
