main {
  background-color: #8d8d8d;
  padding-bottom: 1rem;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .development {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .social-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;

      path {
        transition: fill 0.3s ease;
        fill: #50555a;
      }

      a:hover svg path {
        fill: #fbd417;
      }
    }
  }
}

@media (min-width: 769px) {
  main {
    padding-bottom: 0;

    nav {
      display: flex;
      flex-direction: row;
    }
  }
}
